@font-face {
	font-family: "Quincy CF";
	src: local("Quincy CF Extra Bold"), url(../fonts/QuincyCFExtraBold.otf) format("otf");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Quincy CF";
	src: url("../fonts/QuincyCFExtraBold.otf");
	src: url("../fonts/QuincyCFExtraBold.otf?#iefix") format("embedded-opentype"),
		url("../fonts/QuincyCFExtraBold.otf") format("woff2"), url("../fonts/QuincyCFExtraBold.otf") format("woff"),
		url("../fonts/QuincyCFExtraBold.otf") format("truetype");
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Quincy CF", sans-serif !important;
	font-weight: 900 !important;
}
