body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "Inter", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Quincy CF";
	font-weight: 900;
}

button,
input,
textarea,
select {
	&:focus {
		outline: none;
	}
}

#chat-bot {
	height: 477px;
	@include on("sm") {
		height: 800px;
	}
	@include on("md") {
		height: 1024px;
	}
	@include on("lg") {
		height: 440px; // max-width 672
	}
	@include on("xl") {
		height: 660px; // max-width 1024
	}
	@include on("2xl") {
		height: 800px;
	}
}
