// Text colors
.text-primary {
	color: var(--text-primary);
}
.text-secondary {
	color: var(--text-secondary) !important;
}
.text-accent {
	color: var(--text-accent) !important;
}
.lg\:text-accent {
	@include on("lg") {
		color: var(--text-accent) !important;
	}
}
// Background colors
.bg-primary {
	background-color: var(--bg-primary);
}
.bg-secondary {
	background-color: var(--bg-secondary);
}
.border-primary {
	border-color: var(--text-primary);
}
.border-primary.border-opacity-25 {
	border-color: rgba(#232020, 0.25);
}
.heading {
	color: var(--text-primary);
	font-size: var(--heading-font-size);
	line-height: var(--heading-line-height);
}
.heading-xl {
	color: var(--text-primary);
	font-size: var(--heading-xl-font-size);
	line-height: var(--heading-xl-line-height);
}
.content {
	color: #5c5c5c;
	font-size: var(--content-font-size);
	line-height: var(--content-line-height);
}
.text-btn {
	font-size: var(--btn-font-size);
	line-height: var(--btn-line-height);
}
.text-footer-title {
	font-size: var(--footer-title-font-size);
	line-height: var(--footer-title-line-height);
}
.bg-primary {
	&.bg-opacity-5 {
		background-color: rgba(#3d2b56, 0.05);
	}
}
.bg-green {
	&.bg-opacity-5 {
		background-color: rgba(#006c67, 0.05);
	}
}
.rounded-8px {
	border-radius: 8px;
}
// Font sizes
.text-30px {
	font-size: 30px;
}
// Line heights
.lh-50px {
	line-height: 50px;
}
.blur-1 {
	backdrop-filter: blur(4px);
}
.scale-101 {
	transform: scale(1.01);
}
.scale-165 {
	transform: scale(1.65);
}
.scale-15 {
	transform: scale(1.5);
}
.max-w-xxs {
	max-width: 18rem;
}
.max-w-xxxs {
	max-width: 16rem;
}
.xl\:max-w-none {
	@include on("xl") {
		max-width: none;
	}
}
.lg\:max-w-none {
	@include on("lg") {
		max-width: none;
	}
}
.lg\:max-w-34 {
	@include on("lg") {
		max-width: 34rem;
	}
}

.lg\:rounded-48px {
	@include on("lg") {
		border-radius: 48px;
	}
}
.xl\:rounded-98px {
	@include on("xl") {
		border-radius: 98px;
	}
}
.max-w-4\/5 {
	max-width: 80%;
}
.lg\:right-1\/10 {
	@include on("lg") {
		right: 10%;
	}
}
.xl\:right-6\/5 {
	@include on("xl") {
		right: 12%;
	}
}
.\32xl\:right-1\/5 {
	@include on("2xl") {
		right: 20%;
	}
}
.rounded-r-none {
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}
.rounded-l-none {
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}
.scroll-smooth {
	scroll-behavior: smooth;
}

.pl-con {
	padding-left: var(--container-padding);
}
.pr-con {
	padding-right: var(--container-padding);
}
.px-con {
	padding-left: var(--container-padding);
	padding-right: var(--container-padding);
}

.pl-cont {
	padding-left: var(--content-padding);
}
.lg\:pl-cont {
	@include on("lg") {
		padding-left: var(--content-padding);
	}
}
.lg\:pr-cont {
	@include on("lg") {
		padding-right: var(--content-padding);
	}
}
.pr-cont {
	padding-right: var(--content-padding);
}
.mr-con {
	margin-right: var(--container-padding);
}
.px-cont {
	padding-left: var(--content-padding);
	padding-right: var(--content-padding);
}
.lg\:px-cont {
	@include on("lg") {
		padding-left: var(--content-padding);
		padding-right: var(--content-padding);
	}
}
.lg\:mx-cont {
	@include on("lg") {
		margin-left: var(--content-padding);
		margin-right: var(--content-padding);
	}
}
.-rotate-28 {
	--tw-rotate: -28deg;
}
.lg\:max-w-78\/100 {
	@include on("lg") {
		max-width: 78%;
	}
}
.sm\:max-w-unset {
	@include on("sm") {
		max-width: unset;
	}
}
