:root {
	--text-primary: #232020;
	--text-secondary: #ffe8d9;
	--text-accent: #006c67;

	--bg-primary: #3d2b56;
	--bg-secondary: #ffe8d9;
	--bg-green: #006c67;

	// Font Size
	--heading-font-size: 20px;
	--heading-xl-font-size: 27px;
	--content-font-size: 15px;
	--btn-font-size: 15px;
	--footer-title-font-size: 25px;

	// Line Height
	--heading-line-height: 25px;
	--heading-xl-line-height: 30px;
	--content-line-height: 20px;
	--btn-line-height: 25px;
	--footer-title-line-height: 30px;

	// Paddings
	--container-padding: 1.875rem;
	--content-padding: 1.875rem;
}

@include on("sm") {
	:root {
		// Font Size
		--heading-font-size: 31.6px;
		--heading-xl-font-size: 35.6px;
		--content-font-size: 19.6px;
		// Line Height
		--heading-line-height: 35px;
		--heading-xl-line-height: 38px;
		--content-line-height: 24px;
	}
}
@include on("md") {
	:root {
		// Font Size
		--heading-font-size: 36.2px;
		--heading-xl-font-size: 44.4px;
		--content-font-size: 22.2px;
		// Line Height
		--heading-line-height: 40px;
		--heading-xl-line-height: 46px;
		--content-line-height: 28px;
	}
}
@include on("lg") {
	:root {
		// Font Size
		--heading-font-size: 40.8px;
		--heading-xl-font-size: 52.8px;
		--content-font-size: 24.8px;
		// Line Height
		--heading-line-height: 45px;
		--heading-xl-line-height: 54px;
		--content-line-height: 32px;
	}
}
@include on("xl") {
	:root {
		// Font Size
		--heading-font-size: 30px;
		--heading-xl-font-size: 45px;
		--content-font-size: 18px;
		--btn-font-size: 18px;

		// Line Height
		--heading-line-height: 35px;
		--heading-xl-line-height: 50px;
		--content-line-height: 25px;
		--btn-line-height: 29.5px;

		// Paddings
		--container-padding: calc(calc(100% - 1183px) / 2);
		--content-padding: 5.5625rem;
	}
}
// @include on("2xl") {
// 	:root {
// 		// Font Size
// 		--heading-font-size: 50px;
// 		--heading-xl-font-size: 70px;
// 		--content-font-size: 30px;
// 		// Line Height
// 		--heading-line-height: 55px;
// 		--heading-xl-line-height: 70px;
// 		--content-line-height: 40px;
// 	}
// }
